@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,300&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.outerAdmin-container {
  width: 100%;
  height: 100vh;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  border: 2px solid yellow;

  background: linear-gradient(
    87.4deg,
    rgb(255, 241, 165) 1.9%,
    rgb(200, 125, 76) 49.7%,
    rgb(83, 54, 54) 100.5%
  );
}

.admindashb-container {
  border: 2px solid red;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

//************************* HomeView ***********************//

.homeView-container,
.workinghours-container,
.form-container,
.users-container,
.agenda-container {
  width: 80%;
  min-height: 88vh;
  // border: 2px solid red;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 240, 240);
  box-shadow: 1px 2px 10px 1.5px rgb(82, 80, 80);
  position: relative;
}
.statusCards-container {
  display: flex;
  // border: 2px solid black;
  width: 100%;
  gap: 1em;
  // justify-content: center;
  margin: 1em 0;
  // border: 2px solid red;
  .status-container {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    height: 8vh;
    width: 15em;
    border-radius: 1em;
    position: relative;
    text-align: center;
    // border: 2px solid red;
    img {
      width: 50px;
      height: 50px;
      position: absolute;
      right: 10px;
      top: 10px;
    }
    h2 {
      margin-left: 0.5em;
    }
  }
}

.homeSection-primary {
  display: flex;
  // border: 2px solid red;
  height: 100%;
  width: 100%;
  margin: 0;
}
.active-appoints {
  width: 70%;
  margin-right: 2em;
  margin-left: 2em;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;

  // border: 2px solid red;
}
.appointChart-container {
  // border: 2px solid red;
  // height: 5vh;
  width: 50%;
}
.statusPrect-container {
  display: flex;
  flex-direction: column;
  width: 30%;

  // border: 2px solid yellow;
  height: 100%;
  gap: 1em;
  align-items: center;
  margin-top: 2em;
  // justify-content: space-between;
  // margin-right: 5em;
  .status-container {
    width: 12em;
    height: 8vh;
    display: flex;
    position: relative;
    // flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    gap: 1em;
    padding: 1em;
    // border: 2px solid red;
    border-radius: 0.5em;
    h2 {
      font-size: 1.1rem;
      margin: 0;
    }
    img {
      width: 60px;
      height: 50px;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}
.topStyles {
  height: 35vh;

  img {
    width: 15em;
    height: 100%;
  }
}
.date-container {
  width: 95%;
  // border: 2px solid red;
  padding: 1em;
  position: relative;
  display: flex;
  align-items: center;
  .refreshBtn {
    position: absolute;
    right: 0;
    font-size: 1.5em;
    margin-right: 2em;
    background: none;
    border-radius: 50%;
    box-shadow: rgba(243, 174, 55, 0.24) 0px 3px 8px;
    cursor: pointer;
  }
}

//************************************** Table *********************************//
.table-container {
  // position: absolute;
  // left: 15px;
  // margin-left: 10em;
  // border: 2px solid red;
  // height: 50%;
  height: 40vh;
  // margin-bottom: 1em;
  // position: relative;
  // margin-left: 2em;
}
// .viewallTable {
//   border: 2px solid red;
//   position: absolute;
//   left: 50%;
//   top: 0;
//   transform: translateY(-50%, -50%);
// }
.table-info {
  width: 60%;
  // border: 2px solid red;
  display: flex;
  align-items: center;
  margin-top: 2em;
  justify-content: space-between;
  h2 {
    width: 20%;
    margin: 0;
    // border-bottom: 2px solid peru;
  }
  // border: 2px solid red;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  // button {
  //   background: none;
  //   width: 80px;
  //   height: 40px;
  //   margin-right: 1em;
  // }
}
.appointsview {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 600px;
  // height: 50vh;
  // border: 2px solid red;

  color: black !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  // border: 2px solid red;
  // overflow: scroll;
  // margin-left: 2em;
  .mainRow {
    background-color: #f0ac2e !important;
  }
  th,
  td {
    padding: 12px 15px;
    text-align: center;
  }

  tr {
    border-bottom: 1px solid #dddddd;
    background-color: #f3f3f3;
  }

  tr:last-of-type {
    border-bottom: 1px solid #c5b642;
  }
  tr:nth-child(even) {
    background-color: rgb(249, 244, 233);
  }
}
.table-rows {
  width: 100%;
}

// #table-scroll {
//   height: 150px;
//   overflow: auto;
//   margin-top: 20px;
// }

//customer more info
// .customer-container {
//   width: 70%;
//   min-height: 25vh;
//   margin: 20px 10px;
//   // box-shadow: 2px 1px 10px 1px rgb(205, 191, 191);
//   color: rgb(219, 216, 216);
//   position: absolute;
//   background: white;
//   border-radius: 0.5em;
//   font-weight: bold;
//   // opacity: 0.9999;
//   background: linear-gradient(rgba(209, 133, 27, 1), rgba(92, 86, 64, 0.7));
//   ul {
//     list-style: none;
//     display: flex;
//     flex-direction: column;
//     gap: 1em;
//     padding: 1em;
//   }
// }
.closeBtn {
  position: absolute;
  right: 0;
  margin: 5px;
  border-radius: 0.5em;
  cursor: pointer;
  overflow: hidden;
}

.fa-phone {
  a {
    text-decoration: none;
    color: black;
    margin-left: 1em;
    letter-spacing: 2px;
  }
}
.dateDisplay {
  display: flex;
  gap: 1em;

  .fa-calendar,
  .fa-clock-o {
    span {
      margin-left: 0.5em;
    }
  }
}
.deleteAppoint-cta {
  // border: 2px solid red;
  text-align: center;
  button {
    color: white;
    background: rgb(129, 17, 17);
    border-radius: 0.5em;
    height: 4vh;
    width: 10em;
    cursor: pointer;
  }
}
.infoBtn {
  cursor: pointer;
  position: relative;
}
.isPast-cta {
  color: red;
  text-align: center;
}
//************************************** NavBar *********************************//

.navbar-container {
  // border: 2px solid red;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  background: rgb(199, 171, 119);
  position: relative;
  min-height: 88vh;
  left: 10px;
  width: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 2em;
    margin: 0;
    // border: 2px solid red;
  }
  .nav-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin-top: 2em;
    // justify-content: center;

    // border: 2px solid red;
    align-items: center;
    padding-right: 2em;
  }
  .nav-link {
    color: black;

    position: relative;
    // border: 2px solid red;

    &:before {
      content: "";
      width: 0%;
      height: 2px;
      position: absolute;
      background: wheat;
      bottom: 0;
      left: 0;
      transition: 0.5s;
    }
  }

  .logo {
    width: 4em;
    //  border: 2px solid red;
  }
}
.nav-link:hover::before {
  width: 100%;
}

//************************* Staff-Working-Hours ***********************//

.workinghours-container {
  display: flex;
  // border: 2px solid red;
  flex-direction: row;
}

.staff-container {
  // border: 2px solid red;
  width: 27%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1em;
}

.workerView-container {
  // border: 2px solid red;
  width: 20em;
  min-height: 14vh;
  padding: 0.2em 0.2em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  font-weight: bold;
  letter-spacing: 0.011ch;
  margin-left: 1em;
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    // border: 2px solid red;
  }
  .worker-info {
    list-style: none;
    // border: 2px solid red;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0;
  }
}

.staff-logo {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.5em;
  margin: 0.5em;
  h2 {
    border-bottom: 2px solid rgb(206, 166, 91);
  }
  img {
    width: 50px;
    height: 50px;
  }
}

.workerhours-cta {
  // border: 2px solid red;
  display: flex;
  justify-content: right;
  gap: 1em;
  button {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: none;
    border-radius: 0.5em;
  }
}
.seheduler-container {
  width: 100%;
}

.bookBtn {
  cursor: pointer;
  position: absolute;
  right: 0;
}
.unbookBtn {
  cursor: pointer;
  position: absolute;
  right: 0;
}
.unbookBtn,
.bookBtn {
  width: 18%;
  min-height: 2vh;
  padding: 0;
  border-radius: 0.5em;

  // background: none;
  img {
    // width: 1.4em;
    width: 90%;
    // border: 2px solid red;
    // background: red;
  }
}
//************************* Recent Customer ***********************//

.recent-customers {
  // border: 2px solid red;
  flex-direction: column;
  gap: 0.6em;
  margin: 1em;
  padding: 0.6em;
  // border: 2px solid red;
  width: 19em;
  min-height: 10vh;
  // color: white;
  border-radius: 0.3em;
  // background-image: linear-gradient(rgba(83, 52, 3, 0.7) ,rgba(222, 194, 100, 0.7)) ,url( "./../imgs/barberStyle.png");
  // background-position: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-size: cover;
  .recentLogo {
    width: 60%;
    // border-bottom: 1px solid orange;ta
  }
}
.recent-cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.viewAll {
  // text-decoration: none;
  color: orange;
  font-weight: bold;
  margin-right: 1em;
}
.customer-container {
  display: flex;
  // border: 2px solid red;
  // justify-content: space-between;
  gap: 1em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  align-items: center;
  position: relative;
  padding: 0.3em;
  font-size: 0.8rem;
  h3 {
    margin: 0;
  }
  img {
    width: 13%;
    border-radius: 50%;
  }
  .fa-phone,
  .moreInfoBtn {
    color: rgb(16, 187, 34);
    margin-right: 1em;
    position: absolute;
    right: 0;
    font-size: 1rem;
    cursor: pointer;
  }
}
.moreInfoBtn {
  color: orange !important;
}

//************************* Update Status ***********************//
.updateStatus-container {
  // border: 2px solid red;
  position: absolute;
  min-width: 15em;
  height: 5vh;
  padding: 10px;
  img {
    width: 20px;
  }
  .updateStatus-list {
    display: flex;
    gap: 1em;
    position: relative;
    // border: 2px solid red;
    border-radius: 0.4em;
    padding: 10px;

    background: rgb(238, 225, 201);
  }
  .closeBtn {
    position: absolute;
    right: 0;
  }
  .statBtn {
    cursor: pointer;
  }
}
.PendingState {
  // font-size: 150px;
  color: orange;
  animation: beat 0.25s infinite alternate;
  transform-origin: center;
}

/* Heart beat animation */
@keyframes beat {
  to {
    transform: scale(1.1);
  }
}

.CanceledState {
  color: #e00;
}
.notStartedState {
  color: rgb(9, 88, 107);
}
.DoneState {
  color: green;
}
//************************* users ***********************//
.users-container {
  border: 2px solid red;
  display: flex;

  // background: #bdc3c7; /* fallback for old browsers */
  // background: -webkit-linear-gradient(
  //   to right,
  //   #2c3e50,
  //   #bdc3c7
  // ); /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(
  //   to right,
  //   #2c3e50,
  //   #bdc3c7
  // ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // border: 2px solid red;
  .staff-logo {
    display: flex;
    .fa-users {
      font-size: 1.5rem;
    }
  }

  .users-cta {
    // border: 2px solid red;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    padding: 0.5em;
    // box-shadow: rgba(223, 192, 88, 0.25) 0px 30px 60px -12px,
    //   rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }
  .customers-container {
    width: 100%;
    height: 60vh;
    // border: 2px solid red;
    overflow-y: scroll;
    padding-right: 40px;
    padding-left: 20px;
    box-sizing: content-box;
    border: 2px solid red($color: #000000);
    margin-top: 1em;
    display: flex;
    flex-direction: column;

    gap: 1em;
    .customer-container {
      width: 80%;
      img {
        width: 60px;
      }
    }
  }

  .search-container {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    height: 4vh;
    // border: 2px solid red;
    input {
      width: 50%;
      height: 100%;
      // border: 2px solid red;
      background: none;
      font-weight: bold;
      // outline: none;
    }
  }
}
.usersLogo {
  font-size: 2.5rem;
}
//************************* Agenda ***********************//
.agenda-container {
  .table-container {
    margin-left: 2em;
    overflow: hidden;
    height: 100%;
  }
  .table-wrapper {
    width: 100%;
    // border: 2px solid red;
    overflow-y: scroll;
    padding-right: 17px;
    box-sizing: content-box;
    height: 70vh;
    position: relative;
  }
  .appointsview {
    width: 90%;
    // border: 2px solid red;
  }
  .noAppointsDay {
    position: absolute;
    top: 10em;
  }
}
//************************* Form ***********************//

.navLogo {
  font-weight: bold;
  font-size: 1.3rem;
}
.form-container {
  border: 2px solid red;
}
.staffLogo,
.chartLogo {
  // background: white;
  width: 10px;
  font-size: 0.9rem;
  // background: red;
}
